<h2>My TODOs ({{ uncheckedTodos | async }})</h2>
<app-toolbar></app-toolbar>
<hr>
<ul *ngIf="(todos | async)?.length > 0">
    <li class="todo-item"
        [class.done]="todo.done"
        *ngFor="let todo of todos | async">
        <input type="checkbox"
               [checked]="todo.done"
               (change)="toggleTodo(todo)">
        <i class="fas fa-trash"
           (click)="deleteTodo(todo)">del</i>
        {{ todo.description }}
    </li>
</ul>
<p *ngIf="(todos | async)?.length == 0">
    You have nothing TODO? Don't be lazy!
</p>
