<form [formGroup]="todoForm"
      (submit)="submitTodo()">
    <label for="description">
        TODO Description
    </label>
    <input type="text"
           id="description"
           formControlName="descriptionCtrl"
           (change)="onChangeText($event.target.value)">
    <button type="submit">Create</button>
</form>
